In [21]:
import pandas as pd
import datetime

file_address = input(prompt='파일 경로를 입력하세요.')

df = pd.read_excel(file_address)
del df['Unnamed: 0']
df.columns = ['No.', '거래처', '품명', '모델명', '단가', '수량', '총금액', '선금', '잔금', '구매형태', '선금 비율', '잔금 비율', '선금 날짜', '잔금 날짜(출하 예정)', '비고']

for i in df.index:
    if type(df['No.'][i]) != int:
        df = df.drop([i])
    else:
        df['잔금 날짜(출하 예정)'][i] = df['잔금 날짜(출하 예정)'][i].strftime('%m')+'月'

df.set_index('No.', inplace=True)        

df_share = df[['거래처', '품명', '모델명', '수량','잔금 날짜(출하 예정)']]
df_ecount = df[['모델명', '품명', '거래처', '수량', '단가', '선금', '잔금', '비고' ]]

now = datetime.datetime.now()
nowDate = now.strftime('%Y.%m.%d')

fn_share = '구매신청서 -' + str(nowDate) + '.xlsx'
df_share.to_excel(fn_share)

fn_ecount = '구매신청서(이카운트) -' + str(nowDate) + '.xlsx'
df_ecount.to_excel(fn_ecount)

In [22]:
df_share

            거래처                  품명     모델명   수량 잔금 날짜(출하 예정)
No.
1    PENTASMART      에어 프로텍터 무릎마사지기  ZP1955   10          05月
2    PENTASMART       에어 마일드 무릎마사지기  ZP1956   20          05月
3    PENTASMART        에어 드림 무픞마사지기  ZP1957   30          05月
4         LUYAO     힐링웨어 목어깨안마기(차콜)  ZP4080   50          05月
5         YITAI  액티브 롤링에어 레그&풋 마사지기  ZP1765   80          05月
6         YITAI    액티브 센스 레그&풋 마사지기  ZP1766  100          05月
7         YITAI   액티브 밸런스 레그&풋 마사지기  ZP1767  150          05月
8         YITAI  액티브 토탈케어 레그&풋 마사지기  ZP1768  100          05月

In [23]:
df_ecount

        모델명                  품명         거래처   수량   단가   선금     잔금   비고
No.
1    ZP1955      에어 프로텍터 무릎마사지기  PENTASMART   10   35   70    280  NaN
2    ZP1956       에어 마일드 무릎마사지기  PENTASMART   20   35  140    560  NaN
3    ZP1957        에어 드림 무픞마사지기  PENTASMART   30   35  210    840  NaN
4    ZP4080     힐링웨어 목어깨안마기(차콜)       LUYAO   50   22  165    935  NaN
5    ZP1765  액티브 롤링에어 레그&풋 마사지기       YITAI   80  131    0  10480  NaN
6    ZP1766    액티브 센스 레그&풋 마사지기       YITAI  100  131    0  13100  NaN
7    ZP1767   액티브 밸런스 레그&풋 마사지기       YITAI  150  131    0  19650  NaN
8    ZP1768  액티브 토탈케어 레그&풋 마사지기       YITAI  100  131    0  13100  NaN